<%= render "header" %>



<main class="main-index">

  <% if current_user.present? %>
    <p class="message"><%= "#{current_user.name}さん、こんにちは！" %></p>
  <% else %>
    <p class="message"><%= "ピービータイピングへようこそ！" %></p>
  <% end %>

  <div class="wrap">
    <h2 class="description">このアプリについて</h2>
    <ul class="list">
      <li class="list-item">タイピングの練習が手軽に行えます</li>
      <li class="list-item">名前とパスワードだけで新規登録できます</li>
      <li class="list-item">当サイトはすべて無料でご利用いただけます</li>
    </ul>
  </div>

  <div class="account">
    <%= link_to new_user_registration_path do %>
      <button class="btn-new">新規登録</button>
    <% end %>

    <% if current_user.present? %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <button class="btn-log">ログアウト</button>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <button class="btn-log">ログイン</button>
      <% end %>
    <% end %>
  </div>

  <p class="text-dozo">まずはこちらをどうぞ</p>
  <%# <div id="otameshi"> %>
  <%#= link_to new_game_path do %>
  <%= link_to new_game_path(genre: "otameshi") do %>
  <%#= link_to(new_game_path, {id: "otameshi"}) do %>
    <button class="btn-otameshi"  name="genre" value="otameshi">お試しプレイ</button>
  <% end %>
  <%# </div> %>

</main>

<%= render "footer" %>

