<%= render "header" %>

<main>

  <% if current_user.present? %>
    <p class="greeting"><%= "#{current_user.name}さん、こんにちは！" %></p>
  <% else %>
    <p class="greeting"><%= "ピービータイピングへようこそ！" %></p>
  <% end %>

  <h2 class="description">このアプリについて</h2>
  <div class="description-items">
    <p>・タイピングの練習が手軽に行えます</p>
    <p>・名前とパスワードだけで会員登録できます</p>
    <p>・当サイトはすべて無料でご利用いただけます</p>
  </div>

  <div class="account">
    <% if current_user.present? %>
      <%= link_to user_path(current_user.id) do %>
        <button class="account-btn">マイページ</button>
      <% end %>
    <% else %>
      <%= link_to new_user_registration_path do %>
        <button class="account-btn">会員登録</button>
      <% end %>
    <% end %>

    <% if current_user.present? %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <button class="account-btn">ログアウト</button>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <button class="account-btn">ログイン</button>
      <% end %>
    <% end %>
  </div>
  
  <p class="trial-text">まずはこちらをどうぞ</p>
  <%= link_to new_game_path(genre: "trial") do %>
    <button class="trial-btn">お試しプレイ</button>
  <% end %>

  <p class="contents-text">タイピングジャンル</p>
  <div class="contents">
    <%= link_to new_game_path(genre: "pokemon") do %>
      <button class="contents-btn contents-1">ポケモン(No.1~No.151)</button>
    <% end %>
    <button class="contents-btn contents-2">準備中</button>
  </div>
  <div class="contents">
    <button class="contents-btn contents-3">準備中</button>
    <button class="contents-btn contents-4">準備中</button>
  </div>

</main>

<%= render "footer" %>

