<%= render "header" %>

<%= audio_tag("p0.mp3", id:"p") %>
<%= audio_tag("b0.mp3", id:"b") %>

<main>

  <p id="genre"><%= @genre %></p>
  <p id="count-time"></p>

  <div id="ready">
    <p class="ready-text1">日本語入力モードをオフにしてください</p>
    <p class="ready-text2">スペースキーで開始</p>
    <p class="ready-text3">（終了はescキーです）</p>
  </div>

  <div id="start">
    <p class="text-hiragana" id="hiragana">ひらがな文がここに表示される</p>
    <p id="target"></p>
  </div>

  <div id="finish">
    <p class="finish-text1">おつかれさまでした！</p>
    <p class="finish-text2">よくがんばりましたね♪</p>
    <p id="finish-result"></p>
    <p id="finish-info">ログインするとレベル機能が解放されます</p>
    <p class="finish-text3">もう1度プレイしますか？</p>
  </div>

  <div id="replay">
    <%= link_to new_game_path(genre: @genre) do %>
      <button class="replay-btn">はい</button>
    <% end %>
    <%= link_to root_path do %>
      <button class="replay-btn">いいえ</button>
    <% end %>
  </div>

  <div class="sound" id="sound">
    <button class="sound-btn-on" id="sound-on">♪オン</button>
    <button class="sound-btn-off" id="sound-off">♪オフ</button>
  </div>

</main>

<%= render "footer" %>
