<!DOCTYPE html>
<html>
  <head>
    <%# <title>PBTyping</title> %>
    <title>小学生と中学生のために作った無料タイピング練習アプリ｜P-B-Typing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# SEO対策 %>
    <meta name="description" content="無料タイピング練習アプリ。小学生、中学生が楽しく学べるような工夫と、使いやすさを意識して作成しました。タイピング初心者に特におすすめです。完全無料でご利用いただけます。">
    <%# メディアクエリ未実装 %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%# turbolinksの記述を削除 %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
